html,
body,
.app{
    height: 100vh;
    background: #f5f6f8;
    padding: 1em;
}
.textcolor{
    color: #CEDFDD;
}

.messages{
    height:62vh ;
    overflow-y:scroll
}


.messages__progress{
height:58vh;
overflow-y: scroll;

}

.messages__form{
    position:fixed !important;
    bottom: 1em;
    margin: left 120px;
    left:0;
    right:1em;
    z-index:200;
}

.message__image{
   padding:1em; 
}
.message__self{
    border-left:2px solid orage;
    padding-left:8px
}

.progress__bar{
    margin: 0.5 0 0 0 !important;
}

.menu{
    padding-bottom: 2em;
}